p {
    text-align: left;
    width: 400px;
    overflow: hidden;
    margin: 20px;
    padding-top: 20;
}
h1, h2, h3 {
    text-align: center;
}
body {
    font-size: 16px;
    font-family: 'Sulphur Point', sans-serif;
    margin: 0;
    padding: 0;
    clear: right;
}
img {
    float: right;

}
ol {
    list-style-type: upper-alpha;
}
ul {
    list-style-image: url("../../../assets/gwiazda-mala.png");
}
.blue-paragraph {
    color: blue;
}

#selected-element {
    color: red;
}
.special {
    font-size: 110%;
    font-family: sans-serif;
}
.heading h4{
    font-style: italic;
}
a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: green;
}
a:hover {
    color: blue;
}

nav ul {
    background-color: red;
    color: white;
}

nav li:hover {
    background-color: blue;
}

section {
    position: relative;
    top: 50px;
    left: 80px;
}

#listaOstatnia {
    position: absolute;
    left: 20px;
    
}

.aside-paragraph {
    width: 300px;
    float: right;
    background-color: yellowgreen;
    padding: 5px;
    margin: auto;
}

table td, th, caption{
    border: 1px solid green;
    border-spacing: 10px;
}

thead {
    background-color: red;
}

table {
    width: 500px;
    height: 300px;

}

th {
    height: 80px;
}

.small-column {
    width: 50px;
}
td {
    text-align: right;
    vertical-align: bottom;
    padding: 30px;
}
label {
    display: block;
    width: 200px;
    float: left;
    text-align: right;
    margin: 10px 5px;
    clear: left;
}
input, select, textarea {
    margin: 10px 5px;
    vertical-align: middle;
}

.checks {
    vertical-align: bottom;
}

video {
    margin: 10px 5px;
    border: 2px solid red;
    //poniżej dla innych przeglądarek
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale;
    //-----------
    filter: grayscale(100%);
}