<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Other
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <input placeholder="your todo" [(ngModel)]="todo">

    <button (click)="addTodo(todo)" [disabled]="!todo" *ngIf="!editing">
      Add todo
    </button>
    
    <button (click)="updateTodo(todo)" *ngIf="editing">
      Update
    </button>
    <button (click)="cancelEdit()" *ngIf="editing">
      Cancel
    </button>
    
    
    <ul>
      <li *ngFor="let todo of todos$ | async">
        <span [class.done]="todo.done"></span>
        <button (click)="editTodo(todo)">Edit</button>
        <button (click)="toggleDone(todo)">Toggle Done</button>
        <button (click)="deleteTodo(todo.id)">X</button>
      </li>
    </ul>
  </ion-content>