<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/sexyChick.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Welcome to </ion-card-subtitle>
        <ion-card-title style="font-size: 30px; font-weight: bolder">MERCH CLONE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Surprising nonsense app you've ever seen</p>
      </ion-card-content>
    </ion-card>
</ion-content>
